.jokes-sec{
    background: rgb(34, 34, 71);
    height: 100vh;
    color: azure;
    display: grid;
    align-items: center;
    justify-content: center;
}

.joke h2{
    text-align: center;
}

.joke button:hover{
    
    color: rgb(97, 90, 82);
    font-size: 14px;
}
